.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1440px;
  }
}
