.minified-calendar {
  width: 770px;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  background: white;
  border: 1px solid black;

  .calendar-header {
    width: 100%;
    height: 90px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-between;
    padding-bottom: 30px;
    gap: 30px;

    .calendar-header-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 40px;
      align-items: center;
      height: 60px;
      padding-bottom: 30px;
      border-bottom: 1px solid #f2f1ff;

      .month-button {
        cursor: pointer;
      }

      .month-label {
        display: flex;
        align-items: center;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 20px;
        text-align: center;
      }
    }

    .calendar-header-bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 30px;

      .calendar-header-day {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: calc(100% / 7);
        text-transform: capitalize;
        font-weight: bold;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: #9291a5;
      }
    }
  }

  .calendar-body {
    width: 100%;
    height: calc(100% - 90px);
    background: white;

    .calendar-days {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;

      .calendar-day {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% / 7);
        height: 54px;
        background: white;
        user-select: none;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: #1d1c2b;
        cursor: pointer;

        &.highlight {
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 22px;
            height: 22px;
            background: #f5a3c7;
            border-radius: 50%;
          }
        }

        &.selected {
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 43px;
            height: 43px;
            background: #e8f3fc;
            border-radius: 50%;
          }
        }

        &.disabled {
          color: lightgray;
        }
      }
    }
  }
}
