.time-select {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0 15px;
  width: 181px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  background: white;
}
